<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Ref</th>
            <th>Qté</th>
            <th>Prix unit</th>
            <th>
              <button
                type="submit"
                class="btn btn-outline-primary"
                (click)="operation = 'add'; initProduit()"
              >
                Add
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.ref }}</td>
            <td>{{ product.quantite }}</td>
            <td>{{ product.prixUnitaire }}</td>
            <td>
              <button
                type="submit"
                class="btn btn-outline-primary"
                (click)="operation = 'edit'; selectedProduit = product"
              >
                Edit
              </button>
              <button
                type="submit"
                class="btn btn-outline-Danger"
                (click)="deleteProduct(product)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-5">
      <div class="card">
        <div class="card-header bg-info text-white">
          {{
            operation == "add"
              ? "ajouter Produit"
              : operation == "edit"
              ? "modifier produit"
              : operation == "remove"
              ? "supprimer produit"
              : ""
          }}
          Ajouter product
        </div>
        <div class="card-body">
          <div *ngIf="operation == 'add' || operation == 'edit'">
            <form [formGroup]="produitForm">
              <div class="form-group">
                <label>Ref</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="ref"
                  [(ngModel)]="selectedProduit.ref"
                />
              </div>
              <div
                class="alert alert-danger"
                *ngIf="
                  produitForm.controls['ref'].invalid &&
                  (produitForm.controls['ref'].touched ||
                    produitForm.controls['ref'].dirty)
                "
              >
                Ref est obligatoire
              </div>
              <div class="form-group">
                <label>Quantity</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="quantite"
                  [(ngModel)]="selectedProduit.quantite"
                />
              </div>
              <div class="form-group">
                <label>Prix Unit</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="prixUnitaire"
                  [(ngModel)]="selectedProduit.prixUnitaire"
                />
              </div>
              <button
                type="submit"
                class="btn btn-outline-primary"
                (click)="operation == 'add' ? addProduct() : updateProduct()"
              >
                {{
                  operation == "add"
                    ? "ajouter"
                    : operation == "edit"
                    ? "modifier"
                    : ""
                }}
              </button>
            </form>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>
